{% load embed_video_tags %}
{% if item.url %}
{% video item.url as my_video %}
<div class="js-player embed-responsive embed-responsive-16by9 mb-32pt">
        <div class="player embed-responsive-item">
            <div class="player__content">
                <div class="player__image" style="--player-image: url(assets/images/illustration/player.svg)"></div>
                <a href="" class="player__play">
                    <span class="material-icons">play_arrow</span>
                </a>
            </div>
            <div class="player__embed d-none">
                <iframe class="embed-responsive-item" src="{{ my_video.url }}" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
{% endvideo %}

{% else %}

<!-- <video src="{{ item.file.url }}"></video> -->
<div class="js-player embed-responsive embed-responsive-16by9 mb-32pt">
        <div class="player embed-responsive-item">
            <div class="player__content">
                <div class="player__image" style="--player-image: url(assets/images/illustration/player.svg)"></div>
                <a href="" class="player__play">
                    <span class="material-icons">play_arrow</span>
                </a>
            </div>
            <div class="player__embed d-none">
                    <video class="embed-responsive-item" src="{{ item.file.url }}" allowfullscreen="" controls></video>
                <!-- <iframe class="embed-responsive-item" src="{{ item.file.url }}" allowfullscreen=""></iframe> -->
            </div>
        </div>
    </div>
{% endif %}