{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% providers_media_js %}
{% block title %}
    {{ block.super }} - Login
{% endblock title %}

{% block header %}
  <div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background" data-fixed data-condenses>
    <div class="mdk-header__content">

      <div data-primary class="navbar navbar-expand-sm navbar-dark bg-dark p-0" id="default-navbar">
        <div class="container">

            <!-- Navbar Brand -->
            <a href="{% url 'home' %}" class="navbar-brand">
                <img class="navbar-brand-icon" src="{% static 'courses/images/logo/white-100@2x.png' %}" width="30" alt="Tutorio">
                <span class="d-none d-md-block">Tutorio</span>
            </a>

            <!-- Main Navigation -->
            <ul class="nav navbar-nav ml-auto d-none d-sm-flex">
                <li class="nav-item">
                    <a href="{% url 'account_signup' %}" class="nav-link">Signup</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                </li>
            </ul>
            <!-- // END Main Navigation -->

            <!-- Navbar toggler -->
            <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
      </div>

    </div>
  </div>
{% endblock header %}

{% block content %}
<div class="bg-gradient-primary py-32pt">
        <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
            <img src="{% static 'courses//images/illustration/student/128/white.svg' %}" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
            <div class="flex mb-32pt mb-md-0">
                <h1 class="text-white mb-0">Sign In</h1>
                <p class="lead measure-lead text-white-50">Account Management</p>
            </div>
            <a href="{% url 'account_signup' %}" class="btn btn-outline-white flex-column">
                Don't have an account?
                <span class="btn__secondary-text">Sign up Today!</span>
            </a>
        </div>
    </div>
    <div class="bg-white pt-32pt pt-sm-64pt pb-32pt">
        <div class="container page__container">
            {% if form.errors %}
                <div class="alert alert-danger">
                   <p>The e-mail address and/or password you specified are not correct.</p>
                </div>
            {% endif %}
            <form action="{% url 'account_login' %}" class="col-md-5 p-0 mx-auto" method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="email">Username or Email:</label>
                    {% render_field form.login|add_class:"form-control" %}
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    {% render_field form.password|add_class:"form-control" %}
                    <p class="text-right"><a href="{% url 'account_reset_password' %}" class="small">Forgot your password?</a></p>
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                    <button class="btn btn-lg btn-accent">Login</button>
                </div>
            </form>
        </div>
    </div>
    
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    
    
    <div class="page-separator m-0">
        <div class="page-separator__text">or sign-in with</div>
        <div class="page-separator__bg-top bg-white"></div>
    </div>
    <div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center">
        <div class="container page__container">
            <a href="{% provider_login_url "facebook" method='oauth2' %}" class="btn btn-lg btn-secondary btn-block-xs">Facebook</a>
            <a href="student-dashboard.html" class="btn btn-lg btn-secondary btn-block-xs">Twitter</a>
            <a href="{% provider_login_url "google" method='oauth2' %}" class="btn btn-lg btn-secondary btn-block-xs">Google+</a>
        </div>
    </div>
{% endblock content %}
    