{% extends 'base.html' %}
{% load static widget_tweaks %}


{% block title %}
    {{ block.super }} - Reset Password done
{% endblock title %}
    
{% block header %}
<div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background" data-fixed data-condenses>
        <div class="mdk-header__content">

            <div data-primary class="navbar navbar-expand-sm navbar-dark bg-dark p-0" id="default-navbar">
                <div class="container">

                    <!-- Navbar Brand -->
                    <a href="{% url 'home' %}" class="navbar-brand">
                        <img class="navbar-brand-icon" src="{% static 'courses/images/logo/white-100@2x.png' %}" width="30" alt="Tutorio">
                        <span class="d-none d-md-block">Tutorio</span>
                    </a>

                    <!-- Main Navigation -->
                    <ul class="nav navbar-nav ml-auto d-none d-sm-flex">
                        
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                        </li>
                    </ul>
                    <!-- // END Main Navigation -->

                    <!-- Navbar toggler -->
                    <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
            </div>

        </div>
    </div>

{% endblock header %}


{% block content %}
<div class="bg-gradient-primary py-32pt">
        <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
            <div class="flex">
                <h1 class="text-white flex mb-0">Reset Password Done</h1>
                <p class="lead text-white-50">Account Management</p>
            </div>
            <p class="d-sm-none"></p>
            
        </div>
    </div>
    <div class="page-section bg-white">
        <div class="container page__container">
            <div class="col-sm-6 mx-auto">
                <div class="alert alert-light border-1 border-left-3 border-left-accent d-flex mb-24pt" role="alert">
                    <i class="material-icons text-accent mr-3">check_circle</i>
                    <div class="text-body">An email with password reset instructions has been sent to your email address, if it exists on our system. Please contact us if you do not receive it within a few minutes.</div>
                </div>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock content %}
    