{% load url_tags %}
<ul class="pagination justify-content-center pagination-sm">
  {% if page_obj.has_previous %}
    <li class="page-item">
        <a
        class="page-link"
        href="?{% url_replace page=page_obj.previous_page_number %}"
        aria-label="Previous"
        >
        <span>Prev</span>
        <span aria-hidden="true" class="material-icons">
            chevron_left
        </span>
        </a>
    </li>
  {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true" class="material-icons">chevron_left</span>
        <span>Prev</span>
        </a>
    </li>

  {% endif %} 
  
  {% if page_obj.number|add:'-4' > 1 %}
    <li class="page-item">
        <a
        class="page-link"
        href="?{% url_replace page=page_obj.number|add:'-5' %}"
        aria-label="1"
        >
        <span>&hellip;</span>
        </a>
    </li>

  {% endif %} 
  
  {% for i in page_obj.paginator.page_range %} 
    {% if page_obj.number == i %}

        <li class="page-item active">
            <a class="page-link" href="#" aria-label="{{ i }}">
            <span>{{ i }}</span>
            </a>
        </li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
        <li class="page-item">
            <a class="page-link" href="?{% url_replace page=i %}" aria-label="1">
            <span>{{ i }}</span>
            </a>
        </li>
    {% endif %} 
  {% endfor %} 
  
  {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
    <li class="page-item">
        <a
        class="page-link"
        href="?{% url_replace page=page_obj.number|add:'5' %}"
        aria-label="1"
        >
        <span>&hellip;</span>
        </a>
    </li>
  {% endif %} 
  
  {% if page_obj.has_next %}
    <li class="page-item">
        <a
        class="page-link"
        href="?{% url_replace page=page_obj.next_page_number %}"
        aria-label="Next"
        >
        <span>Next</span>
        <span aria-hidden="true" class="material-icons">
            chevron_right
        </span>
        </a>
    </li>

  {% else %}

    <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true" class="material-icons">chevron_right</span>
        <span>Next</span>
        </a>
    </li>
  {% endif %}
</ul>
